@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:regular,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:700&display=swap);
@charset "UTF-8";
@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNovaBlack.woff2") format("woff2"), url("../fonts/ProximaNovaBlack.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNovaBold.woff2") format("woff2"), url("../fonts/ProximaNovaBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "ProximaNova";
  font-display: swap;
  src: url("../fonts/ProximaNovaRegular.woff2") format("woff2"), url("../fonts/ProximaNovaRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #111926;
  line-height: 1;
  font-family: "ProximaNova";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "ProximaNova";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  touch-action: none;
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/
[class*=__container] {
  max-width: 80.625rem;
  box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}
[class*=-ibg] img {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  object-position: center top;
}
@media (max-width: 82.5em) {
  [class*=-ibg] img {
    object-position: right bottom;
  }
}

[class*=-ibg_contain] img {
  object-fit: contain;
}

.header__container {
  position: relative;
  z-index: 10;
}
.header__body {
  display: flex;
  min-height: 81px;
  align-items: center;
}
.header__image {
  margin-left: 17px;
  position: relative;
  z-index: 1005;
}
.header__image img {
  max-width: 100%;
}
@media (max-width: 29.99875em) {
  .header__image img {
    width: 130px;
  }
}
.header__menu {
  margin-left: auto;
  margin-right: 78px;
}
@media (max-width: 82.5em) {
  .header__menu {
    margin-right: 30px;
  }
}
@media (min-width: 61.99875em) {
  .header__btn {
    padding-top: 24px;
  }
}
@media (max-width: 61.99875em) {
  .header__btn {
    margin-right: 30px;
  }
}
@media (max-width: 47.99875em) {
  .header__btn {
    margin-left: auto;
  }
}

.menu {
  position: relative;
}
@media (max-width: 47.99875em) {
  .menu {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease 0s, padding-top 0.5s ease 0s;
    background-color: #e7f1ff;
    overflow: hidden;
    padding: 25px;
    padding-top: 120px;
    opacity: 0;
  }
  .menu::after {
    content: "";
    position: fixed;
    z-index: 1004;
    background-color: #e7f1ff;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 90px;
    transition: all 0.7s ease 0s;
  }
}
@media (max-width: 47.99875em) {
  .menu.menu-open {
    opacity: 1;
    padding-top: 140px;
    overflow: auto;
  }
  .menu.menu-open::after {
    top: 0;
  }
}
.menu__body {
  position: relative;
}
@media (min-width: 61.99875em) {
  .menu__body {
    padding-top: 24px;
  }
}
.menu__body::after {
  content: "24/7";
  position: absolute;
  z-index: -10;
  font-family: "Proxima Nova";
  bottom: -103px;
  right: 6px;
  font-weight: 400;
  font-size: 100px;
  line-height: 120px;
  text-transform: uppercase;
  color: #e7f1ff;
  pointer-events: none;
}
@media (max-width: 82.5em) {
  .menu__body::after {
    font-size: 70px;
    bottom: -97px;
    right: 80px;
  }
}
@media (max-width: 61.99875em) {
  .menu__body::after {
    display: none;
  }
}
@media (max-width: 47.99875em) {
  .menu__body {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    padding: 25px;
  }
}
@media (min-width: 61.99875em) {
  .menu__contacts {
    position: absolute;
    z-index: 10;
    right: -111px;
    bottom: -60px;
  }
}
@media (max-width: 82.5em) {
  .menu__contacts {
    right: -70px;
    bottom: -50px;
  }
}
.menu__phone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #111926;
}
.menu__list {
  display: flex;
}
@media (min-width: 47.99875em) and (max-width: 61.99875em) {
  .menu__list {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s ease 0s, padding-top 0.5s ease 0s;
    background-color: #e7f1ff;
    overflow: hidden;
    padding: 50px;
    padding-top: 120px;
    opacity: 0;
  }
  .menu__list::after {
    content: "";
    position: fixed;
    z-index: 1004;
    background-color: #e7f1ff;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 90px;
    transition: all 0.7s ease 0s;
  }
}
@media (min-width: 47.99875em) and (max-width: 61.99875em) {
  .menu__list.menu-open {
    opacity: 1;
    padding-top: 140px;
    overflow: auto;
  }
  .menu__list.menu-open::after {
    top: 0;
  }
}
@media (max-width: 61.99875em) {
  .menu__list {
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 47.99875em) {
  .menu__list {
    margin-bottom: 70px;
  }
}
@media (min-width: 82.5em) {
  .menu__item:not(:last-child) {
    margin-right: 55px;
  }
}
@media (min-width: 61.99875em) and (max-width: 82.5em) {
  .menu__item:not(:last-child) {
    margin-right: 30px;
  }
}
@media (max-width: 61.99875em) {
  .menu__item {
    margin-right: 0;
  }
  .menu__item:not(:last-child) {
    margin-bottom: 25px;
  }
}
.menu__link {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #111926;
  position: relative;
  z-index: 10;
}
.menu__link::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -68%;
  left: 50%;
  transform: translateX(-50%) scale(0);
  width: 54px;
  height: 54px;
  border: 2px solid #e7f1ff;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
}
@media (max-width: 61.99875em) {
  .menu__link::before {
    display: none;
  }
}
.menu__link::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -86%;
  left: 50%;
  transform: translateX(-50%) scale(0);
  width: 62px;
  height: 62px;
  border: 1px solid #e7f1ff;
  border-radius: 50%;
  transition: all 0.3s ease 0s;
}
@media (max-width: 61.99875em) {
  .menu__link::after {
    display: none;
  }
}
.menu__link:hover::before {
  transform: translateX(-50%) scale(1);
}
.menu__link:hover::after {
  transform: translateX(-50%) scale(1);
}
@media (max-width: 61.99875em) {
  .menu__link {
    font-size: 30px;
  }
}
.icon-menu {
  display: none;
}
@media (max-width: 61.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 1005;
  }
  .icon-menu span, .icon-menu::before, .icon-menu::after {
    content: "";
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }
  .icon-menu.menu-open span {
    width: 0;
  }
  .icon-menu.menu-open::before {
    top: calc(50% - 0.0625rem);
    transform: rotate(-45deg);
  }
  .icon-menu.menu-open::after {
    bottom: calc(50% - 0.0625rem);
    transform: rotate(45deg);
  }
}

.sitename {
  position: relative !important;
}
.sitename::after {
  content: "";
  background-image: url("../img/sitename/wave.svg");
  background-repeat: no-repeat;
  position: absolute;
  z-index: 5;
  bottom: -725px;
  right: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 82.5em) {
  .sitename::after {
    bottom: -445px;
  }
}
@media (max-width: 47.99875em) {
  .sitename::after {
    display: none;
  }
}
@media (min-width: 82.5em) {
  .sitename {
    margin-top: -66px;
  }
}
@media (min-width: 61.99875em) and (max-width: 82.5em) {
  .sitename {
    margin-top: 50px;
  }
}
.sitename__container {
  position: relative;
  z-index: 3;
}
.sitename__body {
  color: #fff;
  padding-top: 311px;
  padding-bottom: 204px;
}
@media (max-width: 82.5em) {
  .sitename__body {
    padding-top: 80px;
    padding-bottom: 100px;
  }
}
@media (max-width: 47.99875em) {
  .sitename__body {
    padding-top: 65px;
    padding-bottom: 100px;
  }
}
.sitename__content {
  margin-bottom: 71px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sitename__title {
  transform: scale(0);
}
@media (max-width: 82.5em) {
  .sitename__title {
    transform: scale(1);
    font-family: "Roboto Slab";
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 70px;
    color: #fff;
    margin-bottom: 30px;
  }
}
@media (max-width: 47.99875em) {
  .sitename__title {
    font-size: 40px;
    line-height: 50px;
    margin-bottom: 25px;
  }
}
@media (max-width: 29.99875em) {
  .sitename__title {
    font-size: 30px;
    line-height: 35px;
  }
}
.sitename__subtitle {
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  margin-bottom: 32px;
  max-width: 770px;
  text-align: center;
}
@media (max-width: 61.99875em) {
  .sitename__subtitle {
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 25px;
  }
}
@media (max-width: 47.99875em) {
  .sitename__subtitle {
    font-size: 25px;
    line-height: 30px;
  }
}
@media (max-width: 29.99875em) {
  .sitename__subtitle {
    font-size: 20px;
    line-height: 25px;
  }
}
.sitename__text {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 25px;
  line-height: 33px;
  max-width: 482px;
  text-align: center;
}
@media (max-width: 61.99875em) {
  .sitename__text {
    font-size: 22px;
    line-height: 30px;
  }
}
@media (max-width: 47.99875em) {
  .sitename__text {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (max-width: 29.99875em) {
  .sitename__text {
    font-size: 16px;
    line-height: 20px;
  }
}
.sitename__box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
@media (max-width: 47.99875em) {
  .sitename__box {
    align-items: center;
  }
}
@media (max-width: 29.99875em) {
  .sitename__box {
    width: 100%;
    align-items: flex-start;
  }
}
.sitename__item {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}
.sitename__item img {
  margin-right: 18px;
}
@media (max-width: 47.99875em) {
  .sitename__item {
    font-size: 15px;
  }
}
.sitename__item_one {
  margin-right: 219px;
  margin-bottom: 30px;
}
@media (max-width: 82.5em) {
  .sitename__item_one {
    margin-right: 169px;
  }
}
@media (max-width: 47.99875em) {
  .sitename__item_one {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.sitename__item_two {
  margin-right: 81px;
  margin-bottom: 40px;
}
@media (max-width: 82.5em) {
  .sitename__item_two {
    margin-right: 31px;
  }
}
@media (max-width: 47.99875em) {
  .sitename__item_two {
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.sitename__item_three {
  margin-right: 179px;
}
@media (max-width: 82.5em) {
  .sitename__item_three {
    margin-right: 136px;
  }
}
@media (max-width: 47.99875em) {
  .sitename__item_three {
    margin-right: 0;
  }
}
.sitename__images-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -10px;
  z-index: 1;
}
@media (max-width: 82.5em) {
  .sitename__images-ibg {
    display: none;
  }
}
@media (min-width: 82.5em) {
  .sitename__images-ibg {
    width: 102.5%;
  }
}
.sitename__imagestwo-ibg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -10px;
  z-index: 1;
}
@media (min-width: 82.5em) {
  .sitename__imagestwo-ibg {
    display: none;
  }
}
.sitename__titleblue {
  margin-left: 200px;
  font-weight: 400;
  font-size: 80px;
  line-height: 106px;
  color: #1a6aff;
  position: absolute;
  top: 78px;
  left: 95px;
}

.partners {
  padding-top: 123px;
  padding-bottom: 131px;
  position: relative;
}
@media (max-width: 82.5em) {
  .partners {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 61.99875em) {
  .partners {
    padding-top: 90px;
    padding-bottom: 90px;
  }
}
@media (max-width: 47.99875em) {
  .partners {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.partners__title {
  margin-bottom: 26px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #111926;
}
@media (max-width: 82.5em) {
  .partners__title {
    font-size: 32px;
  }
}
@media (max-width: 61.99875em) {
  .partners__title {
    font-size: 27px;
    line-height: 30px;
  }
}
@media (max-width: 47.99875em) {
  .partners__title {
    font-size: 24px;
  }
}
.partners__body {
  margin-left: 76px;
  position: relative;
}
@media (max-width: 61.99875em) {
  .partners__body {
    margin-left: 0;
  }
}
.partners__subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #111926;
  margin-bottom: 68px;
}
@media (max-width: 82.5em) {
  .partners__subtitle {
    font-size: 32px;
  }
}
@media (max-width: 61.99875em) {
  .partners__subtitle {
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 40px;
  }
}
@media (max-width: 47.99875em) {
  .partners__subtitle {
    margin-bottom: 26px;
    font-size: 24px;
  }
}
.partners__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 92px;
  column-gap: 20px;
  row-gap: 40px;
}
@media (max-width: 61.99875em) {
  .partners__box {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 47.99875em) {
  .partners__box {
    row-gap: 25px;
    margin-bottom: 50px;
  }
}
.partners__item {
  position: relative;
  max-width: 330px;
  width: 100%;
}
.partners__item::after {
  content: "";
  position: absolute;
  top: 121px;
  left: 0;
  max-width: 325px;
  width: 100%;
  height: 2px;
  background-color: #111926;
}
@media (max-width: 61.99875em) {
  .partners__item {
    text-align: center;
  }
}
.partners__time {
  font-weight: 700;
  font-size: 36px;
  line-height: 122px;
  letter-spacing: 0.05em;
  color: #1a6aff;
}
.partners__time span {
  font-size: 100px;
  font-weight: 400;
}
@media (max-width: 82.5em) {
  .partners__time span {
    font-size: 80px;
  }
}
@media (max-width: 61.99875em) {
  .partners__time span {
    font-size: 70px;
  }
}
.partners__text {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: 0.1em;
  color: #111926;
}
.partners__link {
  text-align: right;
  margin-right: 26px;
}
@media (max-width: 61.99875em) {
  .partners__link {
    text-align: center;
    margin-right: 0;
  }
}
.partners__link a {
  display: inline-block;
  background: #111926;
  border: 1px solid #111926;
  border-radius: 42px;
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  color: #1a6aff;
  padding: 18px 49px;
  transition: all 0.3s ease 0s;
}
.partners__link a:hover {
  background-color: #fff;
  border: 1px solid #1a6aff;
}
.partners__image {
  position: absolute;
  z-index: -1;
  bottom: -202px;
  right: 0px;
  max-width: 100%;
}
@media (max-width: 61.99875em) {
  .partners__image {
    display: none;
  }
}

.partners__images {
  margin-bottom: 122px;
}
@media (max-width: 61.99875em) {
  .partners__images {
    margin-bottom: 90px;
  }
}
@media (max-width: 47.99875em) {
  .partners__images {
    margin-bottom: 75px;
  }
}
@media (max-width: 29.99875em) {
  .partners__images {
    margin-bottom: 50px;
  }
}
.partners__slide {
  margin: auto 0;
}

.images__item {
  max-height: 83px;
}
.images__item img {
  max-width: 100%;
}

.swiper {
  overflow: visible !important;
}

.swiper-wrapper {
  transition-timing-function: linear;
}

.work {
  position: relative;
  background-color: #111926;
}
.work__container {
  position: relative;
  z-index: 10;
}
.work__body {
  color: #fff;
  padding-top: 126px;
  padding-bottom: 117px;
}
@media (max-width: 47.99875em) {
  .work__body {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.work__name {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  color: #fb7a19;
  margin-bottom: 37px;
  margin-left: 75px;
}
@media (max-width: 47.99875em) {
  .work__name {
    text-align: center;
    margin-left: 0;
  }
}
.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-bottom: 63px;
  margin-left: 75px;
}
@media (max-width: 47.99875em) {
  .work__title {
    font-size: 32px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 63px;
  }
}
@media (max-width: 29.99875em) {
  .work__title {
    font-size: 26px;
  }
}
.work__item {
  padding-top: 19px;
  border-bottom: 1px solid #364866;
  min-height: 130px;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 15;
  transition: after 0.3s ease 0s;
}
.work__item:first-child {
  border-top: 1px solid #364866;
}
@media (min-width: 82.5em) {
  .work__item::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: -100%;
    right: 0;
    width: 300%;
    height: 129px;
    background-color: #111926;
    opacity: 0;
    transition: all 0.3s ease 0s;
  }
  .work__item:hover::after {
    opacity: 1;
  }
}
.work__subtitle {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  margin-left: 75px;
}
.work__subtitle:not(:last-child) {
  margin-bottom: 20px;
}
@media (max-width: 82.5em) {
  .work__subtitle {
    font-size: 25px;
  }
}
@media (max-width: 61.99875em) {
  .work__subtitle {
    font-size: 20px;
  }
}
@media (max-width: 47.99875em) {
  .work__subtitle {
    font-size: 18px;
    margin-left: 0;
  }
}
.work__box {
  margin-left: 75px;
  column-gap: 150px;
  display: flex;
}
.work__box_m {
  column-gap: 126px;
}
@media (max-width: 82.5em) {
  .work__box {
    column-gap: 70px;
  }
}
@media (max-width: 47.99875em) {
  .work__box {
    row-gap: 15px;
    flex-wrap: wrap;
    margin-left: 15px;
    justify-content: space-between;
    column-gap: 15px;
  }
}
@media (max-width: 29.99875em) {
  .work__box {
    margin-left: 0;
  }
}
.work__elem {
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  max-width: 300px;
}
.work__elem span {
  display: inline-flex;
  align-items: center;
  margin-right: 6px;
}
.work__elem p {
  display: inline;
}
@media (max-width: 47.99875em) {
  .work__elem {
    font-size: 14px;
  }
}
@media (max-width: 550px) {
  .work__elem {
    flex: 1 1 100%;
  }
}
.work__button {
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  max-width: 160px;
  width: 100%;
  border-radius: 21px;
  transition: all 0.3s ease 0s;
  color: #5b7494;
}
.work__button a {
  transition: all 0.3s ease 0s;
}
.work__button:hover a {
  color: #fff;
}
.work__button span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  padding: 11px 7px;
  background: #263349;
  border-radius: 50%;
}
.work__button svg path {
  transition: all 0.3s ease 0s;
}
@media (min-width: 61.99875em) {
  .work__button {
    position: absolute;
    z-index: 5;
    bottom: 22px;
    right: 0;
  }
  .work__button:hover {
    background: #263349;
  }
  .work__button:hover svg path {
    fill: #fff;
  }
}
@media (max-width: 61.99875em) {
  .work__button {
    margin-left: 75px;
    margin-top: 25px;
    margin-bottom: 15px;
    background: #263349;
  }
  .work__button svg path {
    fill: #fff;
  }
}
@media (max-width: 47.99875em) {
  .work__button {
    margin-left: 15px;
  }
}
@media (max-width: 29.99875em) {
  .work__button {
    margin-left: 0;
  }
}
.work__image-ibg {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease 0s;
  opacity: 0;
}
@media (min-width: 82.5em) {
  .work__image-ibg {
    z-index: 1;
  }
}
.work__image-ibg:hover {
  opacity: 0.27;
}

.needs {
  position: relative;
}
.needs__body {
  padding-top: 122px;
  padding-bottom: 132px;
  max-width: 1129px;
  margin: 0 auto;
}
@media (max-width: 61.99875em) {
  .needs__body {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (max-width: 47.99875em) {
  .needs__body {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
.needs__title {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 30px;
  line-height: 40px;
  color: #fff;
  margin-bottom: 32px;
}
@media (max-width: 61.99875em) {
  .needs__title {
    font-size: 28px;
  }
}
@media (max-width: 47.99875em) {
  .needs__title {
    font-size: 26px;
    text-align: center;
  }
}
@media (max-width: 29.99875em) {
  .needs__title {
    font-size: 24px;
  }
}
.needs__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #FFFFFF;
  margin-bottom: 90px;
}
@media (max-width: 47.99875em) {
  .needs__text {
    font-size: 18px;
    text-align: center;
  }
}
@media (max-width: 29.99875em) {
  .needs__text {
    font-size: 16px;
  }
}
.needs__box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 297px;
  column-gap: 25px;
}
@media (max-width: 82.5em) {
  .needs__box {
    margin-bottom: 200px;
  }
}
@media (max-width: 61.99875em) {
  .needs__box {
    margin-bottom: 150px;
  }
}
@media (max-width: 47.99875em) {
  .needs__box {
    margin-bottom: 100px;
  }
}
@media (max-width: 29.99875em) {
  .needs__box {
    margin-bottom: 80px;
  }
}
@media (max-width: 47.99875em) {
  .needs__box {
    flex-wrap: wrap;
    row-gap: 40px;
  }
}
.needs__item {
  max-width: 232px;
  text-align: center;
}
.needs__item_m {
  max-width: 160px;
}
@media (min-width: 47.99875em) {
  .needs__item:last-child {
    margin-right: 27px;
  }
}
@media (max-width: 47.99875em) {
  .needs__item {
    flex: 0 1 45%;
    max-width: 100%;
  }
}
@media (max-width: 29.99875em) {
  .needs__item {
    flex: 1 1 100%;
  }
}
.needs__image {
  display: inline-block;
  width: 60px;
  height: 60px;
}
.needs__name {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: #1A6AFF;
}
.needs__subtitle {
  font-weight: 400;
  margin: 0 auto;
  font-size: 36px;
  line-height: 185%;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 203px;
  text-align: center;
  max-width: 907px;
}
.needs__subtitle h3 {
  margin-right: -10px;
}
@media (max-width: 47.99875em) {
  .needs__subtitle {
    font-size: 32px;
  }
}
@media (max-width: 29.99875em) {
  .needs__subtitle {
    font-size: 26px;
  }
}
.needs__phone {
  background-color: #111926;
  text-align: center;
  max-width: 727px;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 35px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 61.99875em) {
  .needs__phone {
    font-size: 16px;
    padding-top: 25px;
    padding-bottom: 25px;
    max-width: 600px;
  }
}
@media (max-width: 47.99875em) {
  .needs__phone {
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (max-width: 29.99875em) {
  .needs__phone {
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 350px;
  }
}
.needs__phone span {
  display: inline-block;
  margin-right: 19px;
  margin-left: 25px;
}
@media (max-width: 47.99875em) {
  .needs__phone span {
    margin-left: 0;
  }
}
.needs__phone a {
  font-weight: 700;
  font-size: 40px;
  letter-spacing: 0.2em;
  line-height: 48px;
  text-transform: uppercase;
  color: #1A6AFF;
}
.needs__phone a:hover {
  text-decoration: underline;
}
@media (max-width: 82.5em) {
  .needs__phone a {
    font-size: 36px;
  }
}
@media (max-width: 61.99875em) {
  .needs__phone a {
    font-size: 32px;
  }
}
@media (max-width: 47.99875em) {
  .needs__phone a {
    font-size: 26px;
  }
}
@media (max-width: 29.99875em) {
  .needs__phone a {
    font-size: 20px;
  }
}
.needs__background-ibg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.needs__wave-ibg {
  position: absolute;
  z-index: -1;
  top: -40px;
  left: -98px;
  width: 109%;
  height: 61%;
}
@media (max-width: 82.5em) {
  .needs__wave-ibg {
    left: 0;
  }
}
@media (max-width: 47.99875em) {
  .needs__wave-ibg {
    width: 150%;
  }
}
/**
 * Swiper 8.0.7
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 * https://swiperjs.com
 *
 * Copyright 2014-2022 Vladimir Kharlampidi
 *
 * Released under the MIT License
 *
 * Released on: March 4, 2022
 */
@font-face {
  font-family: swiper-icons;
  src: url("data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA");
  font-weight: 400;
  font-style: normal;
}
:root {
  --swiper-theme-color:#007aff;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-android .swiper-slide, .swiper-wrapper {
  transform: translate3d(0px, 0, 0);
}

.swiper-pointer-events {
  touch-action: pan-y;
}

.swiper-pointer-events.swiper-vertical {
  touch-action: pan-x;
}

.swiper-slide {
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  transition-property: transform;
}

.swiper-slide-invisible-blank {
  visibility: hidden;
}

.swiper-autoheight, .swiper-autoheight .swiper-slide {
  height: auto;
}

.swiper-autoheight .swiper-wrapper {
  align-items: flex-start;
  transition-property: transform, height;
}

.swiper-backface-hidden .swiper-slide {
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-3d, .swiper-3d.swiper-css-mode .swiper-wrapper {
  perspective: 1200px;
}

.swiper-3d .swiper-cube-shadow, .swiper-3d .swiper-slide, .swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-bottom, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top, .swiper-3d .swiper-wrapper {
  transform-style: preserve-3d;
}

.swiper-3d .swiper-slide-shadow, .swiper-3d .swiper-slide-shadow-bottom, .swiper-3d .swiper-slide-shadow-left, .swiper-3d .swiper-slide-shadow-right, .swiper-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-3d .swiper-slide-shadow {
  background: rgba(0, 0, 0, 0.15);
}

.swiper-3d .swiper-slide-shadow-left {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-top {
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-3d .swiper-slide-shadow-bottom {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.swiper-css-mode > .swiper-wrapper {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.swiper-css-mode > .swiper-wrapper::-webkit-scrollbar {
  display: none;
}

.swiper-css-mode > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: start start;
}

.swiper-horizontal.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: x mandatory;
}

.swiper-vertical.swiper-css-mode > .swiper-wrapper {
  scroll-snap-type: y mandatory;
}

.swiper-centered > .swiper-wrapper::before {
  content: "";
  flex-shrink: 0;
  order: 9999;
}

.swiper-centered.swiper-horizontal > .swiper-wrapper > .swiper-slide:first-child {
  margin-inline-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-horizontal > .swiper-wrapper::before {
  height: 100%;
  min-height: 1px;
  width: var(--swiper-centered-offset-after);
}

.swiper-centered.swiper-vertical > .swiper-wrapper > .swiper-slide:first-child {
  margin-block-start: var(--swiper-centered-offset-before);
}

.swiper-centered.swiper-vertical > .swiper-wrapper::before {
  width: 100%;
  min-width: 1px;
  height: var(--swiper-centered-offset-after);
}

.swiper-centered > .swiper-wrapper > .swiper-slide {
  scroll-snap-align: center center;
}
